.content {
  max-width: 500px;
  margin: auto;
}

body {
    margin-top: 25px;
    text-align: left;
    background-color: black;
    font-family: Futura; 
    font-size: 14px; 
    color: white;
    font-color: red;
}

#logo {
  margin: 25;
  align-content: center
}

#pageHeadTitle {
  text-align: center;
  color: white
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #BD6D02;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Same as above, but another class for green navigation bar */
.topnav2 {
  background-color: #015D15;
  overflow: hidden;
}

.topnav2 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav2 a:hover {
  background-color: #ddd;
  color: black;
}